.login-modal {
    display: flex;
    &-area {
        position: absolute;
    }
    &-box {
        margin-top: 2rem;
        width: 30rem;
        height: 15rem;
        &-title {
            font-size: 1.3rem;
            margin-bottom: 1rem;
        }
        &-form {
            display: flex;
            flex-direction: column;
            margin-bottom: 0.5rem;
            input {
                margin-top: 0.5rem;
                border-radius: 0.5rem;
                padding: 0.5rem;
                border: 1px solid gray;
                &:focus {
                    outline: none;
                }
            }
        }
    }
}