@font-face {
  font-family: 'NanumSquareRound';
  src: url('/assets/fonts/NanumSquareRoundOTFB.otf')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NanumSquareRound' !important;
}
