.Card {
    @media screen and (max-width: 500px) {
        flex-direction: column;
    }
    display:flex;
    flex-wrap: wrap;
    &-Item {
        background-color: white;
        @media screen and (max-width: 500px) {
            height: 30vh;
            width: 100%;
            margin-bottom: 1rem;
        }
        height: 40vh;
        width: 18vw;
        margin-top: 2.5vh;
        margin-left: 1vw;
        margin-right: 1vw;
        &-Thumbnail {
            width: 100% !important;
            border: 1rem;
            height: 20vh;
            width: 18vw;
        }
        &-Header {
            display: flex;
            justify-content: space-between;
            color: gray;
            margin-top: 0.5vh;
            &-UserName {
                display: flex;
                color: gray;
                margin-left: 5px;
                
            }
            &-CreatedAt {
                display: flex;
                color: gray;
                font-size: 0.9rem !important;
                margin-right: 5px;
            }
        }
        &-Price {
            font-size: 0.9rem;
            margin-left: 5px;
            border-bottom: 0.1rem solid rgb(236, 231, 231);
        }
        &-Body {
            margin-top: 1vh;
            margin-left: 5px; 
            line-height: 1rem;
            
        }
    }
}

.Sort {
    display: flex;
    justify-content: flex-end;
    &-Dropdown {
        display: flex;
        border-color: white;
        border: 1;
        border-radius: 5px;
        margin-top: 1vh;
        margin-right: 3vw;
    }
}

.ui.dropdown .menu {
    right: 0;
    left: auto;
}

.dropdown .icon {
    display: none;
}