.Card {
    @media screen and (max-width: 500px) {
        flex-direction: column;
    }
    display:flex;
    flex-wrap: wrap;
    background-color:rgb(236, 231, 231);
    &-Item {
        background-color: white;
        @media screen and (max-width: 500px) {
            height: 30vh;
            width: 100%;
            margin-bottom: 1rem;
        }
        height: 40vh;
        width: 18vw;
        margin-top: 3vh;
        margin-left: 1vw;
        margin-right: 1vw;
        &-Thumbnail {
            width: 100% !important;
            border: 1rem;
            height: 20vh;
            width: 18vw;
        }
        &-UserName {
            color: gray;
            font-size: 0.8rem !important;
            margin-left: 0.375rem;
            margin-top: 1vh;
        }
        &-Price {
            font-size: 0.9rem !important;
            margin-left: 0.375rem;
        }
        &-Name {
            padding: 0.375rem;
            font-size: 0.8rem !important;
            line-height: 1rem;
            border-top: 0.1rem solid rgb(236, 231, 231);
        }
    }
}