.Banner {
    display: flex;
    flex-direction: column;
    height: 30vh;
    background-image: url("/assets/images/banner.png");
    &-Top {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    &-Home {
        @media screen and (max-width: 878px) {
            font-size: 1rem;
        }
        display: flex;
        font-size: 1.5rem;
    }
    &-Login {
        display: flex;
    }
    &-Middle {
        display: flex;
        color: gray;
        flex-direction: column;
        align-items: center;
        margin: auto auto auto auto;
        &-Text {
            @media screen and (max-width: 878px) {
                font-size: 0.75rem;
            }
            font-size: 1rem;
            margin-bottom: 1rem;
        }
        &-Title {
            @media screen and (max-width: 878px) {
                font-size: 1rem;
            }
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
        &-Search {
            @media screen and (max-width: 878px) {
                width: 20rem;
            }
            display: flex;
            width: 30rem;
            height: 3rem;
            background-color: white;
            border-radius: 0.5rem;
            align-items: center;
            padding: 1rem;
            margin-bottom: 1rem;
            &-Text {
                width: 90%;
                display: block;
                font-size: 1rem;
                border: none;
                outline: none;
            }
            &-Button {
                width: 10%;
                background-color: white;
                border: none;
                outline: none;
            }
        }
    }
}
